body {
    margin: 0px;
    padding: 0px;
    background-color: #141414;
    color: aliceblue;
}

.form {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  border: 1px solid red;
  padding: 10px;
}

input {
    outline: none;
    border: 2px solid aliceblue;
    color: aliceblue;
    background-color: #141414;
    margin: 5px;
}

input[type="submit"] {
    margin: 10px 0px;
    font-size: 18px;
    color: aliceblue;
    background-color: #141414;
    border: 2px solid red;
    border-radius: 7px;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.one-movie {
    border: 1px solid red;
    font-size: 15px;
    width: 300px;
    padding: 5px 5px;
    text-align: center;
}

.one-movie button {
    padding: 7px 10px;
    border: 2px solid red;
    border-radius: 7px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 10px;
}